#cat ./.gitignore 
# Xcode
./Documents/*.DS_Store
.DS_Store
/build/
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
/xcuserdata/
*.moved-aside
DerivedData
xcuserdata/*
*.xccheckout
*.ipa
*.dSYM.zip
*.xcuserdata
